<div class="container mt-4 p-3 border">
    <div class="cabecera">
        <h2>Registrar Prestamo</h2>
        <p class="text-muted">
            A continuación ingrese informacion del cliente, los libros a prestar y la cantidad de dias de prestamo, tenga en cuenta que solo puede prestar 5 libros a un usuario y la cantidad maxima de dias a prestar es de 10
        </p>
    </div>
    <form #f="ngForm" (ngSubmit)="prestar(f.value)">
        <div class="cliente border p-2">
    
                <p class="h5 text-left ms-5">
                    Cliente
                </p>
                <hr>
                <div class="d-flex justify-content-around">
                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Cliente</mat-label>
                            <mat-select required [(ngModel)]="prestamo.cliente_id" id="cliente_id" name="cliente_id">
                              <mat-option disabled value="">Seleccione Cliente</mat-option>
                              <mat-option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    
                        <mat-form-field class="mx-2" hintLabel="Max 10 characters" appearance="fill">
                            <mat-label>Dias Prestamo</mat-label>
                            <input required type="email" matInput name="dias" id="dias" [(ngModel)]="prestamo.dias_prestamo">
                        </mat-form-field>
                    </div>
                    
                    
                </div>
                <div class="mt-2">
                    <mat-form-field appearance="fill" style="width: 600px;">
                        <mat-label>Libro</mat-label>
                        <mat-select required  id="libro_id" name="libro_id" [(ngModel)]="prestamo.libro_id">
                          <mat-option disabled value="">Seleccione Libro</mat-option>
                          <mat-option *ngFor="let libro of libros" [value]="libro.id">{{libro.titulo}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    
                </div>
           
        </div>
        <div class="prestamo border p-3">
            <div class="d-flex justify-content-end">
                <div>
                    <button mat-raised-button class="mx-2" color="primary">
                        <mat-icon>save</mat-icon>
                        <span class="mx-1">Realizar Prestamo</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>